html,
body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 200;
  /* cursor: grab; */
  cursor: none;
}
canvas {
  display: block;
}
#loading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 2rem;
  font-size: 1rem;
  color: gray;
}
#info {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem;
  font-size: 0.8rem;
}
@media screen and (min-width: 35em) {
  #info {
    padding: 2rem;
    font-size: 1rem;
  }
}
#info a {
  mix-blend-mode: difference;
  color: white;
  opacity: 0.6;
}
